@model IEnumerable<StudyBuddyApp.Models.Obavjestenje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sadrzaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumSlanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipObavjestenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procitano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sadrzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumSlanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.IdKorisnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipObavjestenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procitano)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdObavjestenja">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdObavjestenja">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdObavjestenja">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
