@model StudyBuddyApp.Models.SesijaUcenja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SesijaUcenja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumVrijeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumVrijeme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trajanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trajanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija.IdLokacije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Predmet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Predmet.IdPredmeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kreator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kreator.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaksimalanBrojUcesnika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaksimalanBrojUcesnika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojSlobodnihMjesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojSlobodnihMjesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusSesije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusSesije)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSesije">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
