@model IEnumerable<StudyBuddyApp.Models.SesijaUcenja>

@{
    ViewData["Title"] = "Sesije učenja";
}

<h1>Sesije učenja</h1>

@if (TempData["Poruka"] != null)
{
    <div class="alert alert-success">
        @TempData["Poruka"]
    </div>
}

@if (User.IsInRole("Administrator") || User.IsInRole("Student"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Naziv)</th>
            <th>@Html.DisplayNameFor(model => model.Opis)</th>
            <th>@Html.DisplayNameFor(model => model.DatumVrijeme)</th>
            <th>@Html.DisplayNameFor(model => model.Trajanje)</th>
            <th>@Html.DisplayNameFor(model => model.Lokacija)</th>
            <th>@Html.DisplayNameFor(model => model.Predmet)</th>
            <th>@Html.DisplayNameFor(model => model.Kreator)</th>
            <th>@Html.DisplayNameFor(model => model.BrojSlobodnihMjesta)</th>
            <th>@Html.DisplayNameFor(model => model.StatusSesije)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var opis = item.Opis?.Length > 40 ? item.Opis.Substring(0, 40) + "..." : item.Opis;

            <tr>
                <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
                <td>@opis</td>
                <td>@Html.DisplayFor(modelItem => item.DatumVrijeme)</td>
                <td>@Html.DisplayFor(modelItem => item.Trajanje)</td>
                <td>@Html.DisplayFor(modelItem => item.Lokacija!.Naziv)</td>
                <td>@Html.DisplayFor(modelItem => item.Predmet!.Naziv)</td>
                <td>@Html.DisplayFor(modelItem => item.Kreator!.Ime)</td>
                <td>@Html.DisplayFor(modelItem => item.BrojSlobodnihMjesta)</td>
                <td>@Html.DisplayFor(modelItem => item.StatusSesije)</td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdSesije">Edit</a>
                        <span>|</span>
                    }

                    <a asp-action="Details" asp-route-id="@item.IdSesije">Detalji / prijava</a>

                    @if (User.IsInRole("Administrator"))
                    {
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.IdSesije">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>