@model IEnumerable<StudyBuddyApp.Models.SesijaUcenja>

@{
    ViewData["Title"] = "Sesije učenja";
}

<h1>Sesije učenja</h1>

@if (User.IsInRole("Administrator") || User.IsInRole("Student"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumVrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trajanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predmet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaksimalanBrojUcesnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojSlobodnihMjesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusSesije)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumVrijeme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trajanje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lokacija!.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Predmet!.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kreator!.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaksimalanBrojUcesnika)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrojSlobodnihMjesta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusSesije)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdSesije">Edit</a>
                        <span>|</span>
                    }

                    <a asp-action="Details" asp-route-id="@item.IdSesije">Details</a>

                    @if (User.IsInRole("Administrator"))
                    {
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.IdSesije">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>