@model StudyBuddyApp.Models.PrijavaNaSesiju

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PrijavaNaSesiju</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPrijave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPrijave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SesijaUcenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SesijaUcenja.IdSesije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPrijave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPrijave)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPrijave" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
