@model StudyBuddyApp.Models.PrijavaNaSesiju

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrijavaNaSesiju</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPrijave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPrijave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.IdKorisnika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SesijaUcenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SesijaUcenja.IdSesije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPrijave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPrijave)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPrijave">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
