@model IEnumerable<StudyBuddyApp.Models.PrijavaNaSesiju>

@{
    ViewData["Title"] = "Prijave na sesiju";
}

<h1>Prijave na sesiju</h1>

@if (User.IsInRole("Administrator") || User.IsInRole("Student"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumPrijave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SesijaUcenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPrijave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumPrijave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Korisnik!.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SesijaUcenja!.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusPrijave)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdPrijave">Edit</a>
                        <span>|</span>
                    }

                    <a asp-action="Details" asp-route-id="@item.IdPrijave">Details</a>

                    @if (User.IsInRole("Administrator"))
                    {
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.IdPrijave">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>